
// Values from the classic Mastodon UI
$classic-base-color: #28323c;         // Midnight Express
$classic-primary-color: #5985a2;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

@import 'application';